{profiles, [
  {test, [
    {deps, [
        {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
    ]}
  ]}
]}.

{relx, [
    {release, {muumuu, "1.0.0"},
     %% list of apps to include
     [muumuu]},

    %% comment this line for a release that ships its own Erlang VM
    {include_erts, false},
    %% uncomment this line to ship a release without the source code included
    % {include_src, false},

    {vm_args, "./config/vm.args"}
]}.
