{relx, [
    {release, {muumuu, "1.0.0"},
     %% list of apps to include
     [muumuu]},

    %% Don't ship an Erlang VM by default
    {include_erts, false},

    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {test, [
        {deps, [
          {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.1"}}}
        ]}
    ]},
    %% called as `rebar3 as prod <command>`
    {prod, [
        {relx, [ % override relx specifically
          {include_src, false}, % don't include source code
          {include_erts, true}  % include the VM in the release
        ]}
    ]}
]}.
